<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.tlias.mapper.EmpMapper">
    <insert id="save">
        insert into emp(username, name, gender, image, job, entrydate, dept_id, create_time, update_time)
        values (#{username}, #{name}, #{gender}, #{image}, #{job}, #{entrydate}, #{deptId}, #{createTime},
                #{updateTime})
    </insert>
    <update id="update">
        update emp
        <set>
            <if test="username!=null and username!=''">
                username = #{username},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="gender!=null and gender!=''">
                gender = #{gender},
            </if>
            <if test="image!=null and image!=''">
                image = #{image},
            </if>
            <if test="deptId!=null and deptId!=''">
                dept_id = #{deptId},
            </if>
            <if test="entrydate!=null ">
                entrydate = #{entrydate},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="job!=null and job!=''">
                job = #{job}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
            -- ids = [] ,id will select the each element in the ids then to concat to the style with (1,2,3)
        </foreach>

    </delete>

    <select id="list" resultType="org.example.tlias.pojo.Emp">
        select *
        from emp
        <where>
            <if test="name!=null and name!=''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="gender!=null">
                and gender = #{gender}
            </if>
            <if test="begin!=null and end!=null">
                and entrydate between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>